NODE - RED Flow/flows.json
[
    {
        "id": "428c869.9d44078",
        "type": "tab",
        "label": "Customer Help Chatbot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "428c869.9d44078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "33ee0287.4b505e",
        "type": "ui_form",
        "z": "428c869.9d44078",
        "name": "",
        "label": "",
        "group": "b25b0315.a262e",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter Query",
                "value": "question",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "question": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "9af5382.c4eebc8",
                "8b3d873.c439178"
            ]
        ]
    },
    {
        "id": "8b3d873.c439178",
        "type": "ui_text",
        "z": "428c869.9d44078",
        "group": "b25b0315.a262e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Congratulations on the purchase of your new ecobee3 smarter wi-fi thermostat with remote sensor. Please get you queries solved here.",
        "format": "",
        "layout": "row-spread",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "9af5382.c4eebc8",
        "type": "function",
        "z": "428c869.9d44078",
        "name": "Display Question",
        "func": "msg.payload = msg.payload.question;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "e72c71f3.cda0f",
                "af6fd9ae.7ba1a8"
            ]
        ]
    },
    {
        "id": "e72c71f3.cda0f",
        "type": "ui_text",
        "z": "428c869.9d44078",
        "group": "69652ad6.2f3994",
        "order": 1,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "You...",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "dbbd0f70.3bd49",
        "type": "function",
        "z": "428c869.9d44078",
        "name": "Fetch Answer",
        "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n ",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "4c61e88b.977b58"
            ]
        ]
    },
    {
        "id": "af6fd9ae.7ba1a8",
        "type": "watson-conversation-v1",
        "z": "428c869.9d44078",
        "name": "",
        "workspaceid": "afeeb948-eaed-4f88-aed0-26935a34785d",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6e2e47d9-54f8-4a84-8f1b-e9c533c51e34",
        "timeout": "",
        "optout-learning": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f2f2649a.0d0d98",
                "dbbd0f70.3bd49"
            ]
        ]
    },
    {
        "id": "4c61e88b.977b58",
        "type": "ui_text",
        "z": "428c869.9d44078",
        "group": "69652ad6.2f3994",
        "order": 4,
        "width": 13,
        "height": 3,
        "name": "",
        "label": "Help Bot...",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "75401475.72a5fc",
        "type": "inject",
        "z": "428c869.9d44078",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "af6fd9ae.7ba1a8"
            ]
        ]
    },
    {
        "id": "b25b0315.a262e",
        "type": "ui_group",
        "z": "",
        "name": "Overview",
        "tab": "cb026f97.c6b13",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "69652ad6.2f3994",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot!",
        "tab": "cb026f97.c6b13",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "cb026f97.c6b13",
        "type": "ui_tab",
        "z": "",
        "name": "ecobee3 Customer Help",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]